body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 1.20%;
    font-size: 250%;
    color: rgb(42, 122, 228);
    font-family: "Jersey 10", sans-serif;
}

.chamada {
    background: rgb(25, 25, 112);
    padding-bottom: 2%;
    padding-top: 2%;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 4%;
}

h1 {
    font-size: 280%;
}

p {
    font-size: 160%;
}

.categoriaVideos {
    display:flex;
    overflow-x: auto;
    gap: 2%;
}

.categoria {
    padding-left: 2%;
    padding-right: 2%;
}

a {
    width: 320px;
}

.categoriaVideos img {
    opacity: 0.4;
    height: 25%;
}

.categoriaVideos img:hover {
    opacity: 1.0;
    border: 1.5px solid greenyellow;
}

.categoria h2 {
    color: rgb(42, 122, 228)
}